/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-11-20, 12:15:01
    Author     : student
*/

.errors1{
    font-style: italic;
    color: yellow
}