/* 
    Document   : newcss
    Created on : 2014-10-09, 12:40:00
    Author     : student
    Description:
        Purpose of the stylesheet follows.
*/
.row1{
    background-color: burlywood;
}
.row2{
    background-color: khaki;
}
