body {
    width:50%;
    margin-left:auto;
    margin-right:auto;
}

#menu h1{
    margin-bottom: 20px;
}

#menu ul {
    margin: 0;
    padding: 0;
    width:185px;
    list-style-type: none;
}

#menu ul li a {
    text-decoration: none;
    color: black;
    padding: 10.5px 11px;
    background-color: #E5E4E2;
    display:block;
}

#menu ul li a:hover{
    color: white;
    background-color: #848482;
}


#naglowek, #stopka {
    width: 800px;
    background: #E5E4E2;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}

#naglowek {
    height: 100px;
    position: relative;
}

#stopka {
    height: 20px;
    clear: both;
}

#menu, #tresc {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    float: left;
}

#menu {
    width: 185px;
    height: 450px;
    border-radius: 15px;
    background: #E5E4E2;
    text-align: center;
}

#tresc {
    width: auto;

}

#loginPanel {
    position: absolute;
    top: 80%;
    left: 80%;
}

#loginPanel a {
    text-decoration: none;
    color: black;
    background-color: #E5E4E2;
    display: inline-block;
}

#loginPanel a:hover{
    color: white;
    background-color: #848482;
}